
.icon-mail:before { content: '\e800'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
